Repository oduck-team/oduck-server, pull requests merged in 2023-11, with the labels that each got.

#70 애니 삭제 구현 #52
  src/docs/asciidoc/index.adoc
  src/main/java/io/oduck/api/domain/admin/controller/AdminController.java
  src/main/java/io/oduck/api/domain/anime/entity/Anime.java
  src/main/java/io/oduck/api/domain/anime/service/AnimeService.java
  src/main/java/io/oduck/api/domain/anime/service/AnimeServiceImpl.java
  src/test/java/io/oduck/api/e2e/admin/AdminControllerTest.java
  src/test/java/io/oduck/api/unit/anime/repository/AnimeRepositoryTest.java
  src/test/java/io/oduck/api/unit/anime/service/AnimeServiceTest.java
Labels: Docs, Feature, Refactor, Test

#73 짧은 리뷰 좋아요 생성, 삭제, 좋아요 유무 확인 #69
  src/docs/asciidoc/index.adoc
  src/main/java/io/oduck/api/domain/reviewLike/controller/ShortReviewLikeController.java
  src/main/java/io/oduck/api/domain/reviewLike/dto/ShortReviewLikeReqDto.java
  src/main/java/io/oduck/api/domain/reviewLike/dto/ShortReviewLikeResDto.java
  src/main/java/io/oduck/api/domain/reviewLike/repository/ShortReviewLikeRepository.java
  src/main/java/io/oduck/api/domain/reviewLike/service/ShortReviewLikeService.java
  src/main/java/io/oduck/api/domain/reviewLike/service/ShortReviewLikeServiceImpl.java
  src/test/java/io/oduck/api/e2e/shortReviewLike/ShortReviewLikeControllerTest.java
  src/test/java/io/oduck/api/unit/shortReviewLike/repository/ShortReviewLikeRepositoryTest.java
  src/test/java/io/oduck/api/unit/shortReviewLike/service/ShortReviewLikeServiceTest.java
  src/test/resources/db/data.sql
Labels: Bug fix, Docs, Feature, Test

#77 Feature/ci
  .github/workflows/ci.yml
Labels: Deploy

#66 별점 작성 추가하기 #65
  src/docs/asciidoc/index.adoc
  src/main/java/io/oduck/api/domain/starRating/controller/StarRatingController.java
  src/main/java/io/oduck/api/domain/starRating/dto/StarRatingReqDto.java
  src/main/java/io/oduck/api/domain/starRating/repository/StarRatingRepository.java
  src/main/java/io/oduck/api/domain/starRating/service/StarRatingService.java
  src/main/java/io/oduck/api/domain/starRating/service/StarRatingServiceImpl.java
  src/main/java/io/oduck/api/global/security/auth/controller/AuthController.java
  src/test/java/io/oduck/api/e2e/starRating/StarRatingControllerTest.java
  src/test/java/io/oduck/api/unit/starRating/repository/StarRatingRepositoryTest.java
  src/test/java/io/oduck/api/unit/starRating/service/StarRatingServiceTest.java
Labels: Docs, Feature, Test

#72 애니 관련 도메인 중복 금지 로직 추가 #71
  src/docs/asciidoc/index.adoc
  src/main/java/io/oduck/api/domain/genre/entity/Genre.java
  src/main/java/io/oduck/api/domain/genre/repository/GenreRepository.java
  src/main/java/io/oduck/api/domain/genre/service/GenreServiceImpl.java
  src/main/java/io/oduck/api/domain/originalAuthor/entity/OriginalAuthor.java
  src/main/java/io/oduck/api/domain/originalAuthor/repository/OriginalAuthorRepository.java
  src/main/java/io/oduck/api/domain/originalAuthor/service/OriginalAuthorServiceImpl.java
  src/main/java/io/oduck/api/domain/series/entity/Series.java
  src/main/java/io/oduck/api/domain/series/repository/SeriesRepository.java
  src/main/java/io/oduck/api/domain/series/service/SeriesServiceImpl.java
  src/main/java/io/oduck/api/domain/studio/entity/Studio.java
  src/main/java/io/oduck/api/domain/studio/repository/StudioRepository.java
  src/main/java/io/oduck/api/domain/studio/service/StudioServiceImpl.java
  src/main/java/io/oduck/api/domain/voiceActor/entity/VoiceActor.java
  src/main/java/io/oduck/api/domain/voiceActor/repository/VoiceActorRepository.java
  src/main/java/io/oduck/api/domain/voiceActor/service/VoiceActorServiceImpl.java
  src/test/java/io/oduck/api/e2e/admin/AdminControllerTest.java
  src/test/java/io/oduck/api/unit/anime/repository/AnimeRepositoryTest.java
  src/test/java/io/oduck/api/unit/genre/repository/GenreRepositoryTest.java
  src/test/java/io/oduck/api/unit/originalAuthor/repository/OriginalAuthorRepositoryTest.java
  src/test/java/io/oduck/api/unit/studio/repository/StudioRepositoryTest.java
Labels: Docs, Feature, Refactor, Test

#59 devops 적용하기
  .github/ISSUE_TEMPLATE/todo-issue-template.md
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .gitignore
  build.gradle
  docker-compose.yml
  docker.md
  dockerfile-prod
  grafana/datasource.yml
  grafana/grafana.ini
  prometheus/prometheus.yml
  proxy/nginx.conf
  src/main/java/io/oduck/api/global/advice/ExceptionHandlerAdvice.java
  src/main/java/io/oduck/api/global/security/filter/ReqLoggingFilter.java
  src/main/java/io/oduck/api/global/security/handler/LogoutHandler.java
  src/main/java/io/oduck/api/global/utils/HttpHeaderUtils.java
  src/main/java/io/oduck/api/global/webHook/DiscordWebhook.java
  src/main/java/io/oduck/api/global/webHook/WebHookService.java
  src/main/resources/application-dev.yml
  src/main/resources/application-local.yml
  src/main/resources/application-prod.yml
  src/main/resources/application-test.yml
Labels: Docs, Deploy, Refactor, Setting, Test

#50 리뷰 도메인 구현 #33
  src/docs/asciidoc/index.adoc
  src/main/java/io/oduck/api/domain/attractionPoint/dto/AttractionPointResDto.java
  src/main/java/io/oduck/api/domain/attractionPoint/entity/AttractionPoint.java
  src/main/java/io/oduck/api/domain/attractionPoint/repository/AttractionPointRepository.java
  src/main/java/io/oduck/api/domain/attractionPoint/service/AttractionPointService.java
  src/main/java/io/oduck/api/domain/attractionPoint/service/AttractionPointServiceImpl.java
  src/main/java/io/oduck/api/domain/review/controller/ShortReviewController.java
  src/main/java/io/oduck/api/domain/review/dto/ShortReviewDslDto.java
  src/main/java/io/oduck/api/domain/review/dto/ShortReviewReqDto.java
  src/main/java/io/oduck/api/domain/review/dto/ShortReviewResDto.java
  src/main/java/io/oduck/api/domain/review/entity/ShortReview.java
  src/main/java/io/oduck/api/domain/review/repository/ShortReviewRepository.java
  src/main/java/io/oduck/api/domain/review/repository/ShortReviewRepositoryCustom.java
  src/main/java/io/oduck/api/domain/review/repository/ShortReviewRepositoryImpl.java
  src/main/java/io/oduck/api/domain/review/service/ShortReviewService.java
  src/main/java/io/oduck/api/domain/review/service/ShortReviewServiceImpl.java
  src/main/java/io/oduck/api/domain/review/service/ShortReviewServiceStub.java
  src/main/java/io/oduck/api/global/config/WebConfig.java
  src/main/java/io/oduck/api/global/converter/StringToShortReviewConverter.java
  src/test/java/io/oduck/api/e2e/shortReview/ShortReviewControllerTest.java
  src/test/java/io/oduck/api/global/utils/ShortReviewTestUtils.java
  src/test/java/io/oduck/api/unit/attractionPoint/repository/AttractionPointRepositoryTest.java
  src/test/java/io/oduck/api/unit/attractionPoint/service/AttractionPointServiceTest.java
  src/test/java/io/oduck/api/unit/shortReview/repository/ShortReviewRepositoryTest.java
  src/test/java/io/oduck/api/unit/shortReview/service/ShortReviewServiceTest.java
Labels: Docs, Feature, Refactor, Test

#76 검색 필터 관련 수정 #75
  src/main/java/io/oduck/api/domain/anime/controller/AnimeController.java
  src/main/java/io/oduck/api/domain/anime/dto/AnimeReq.java
  src/main/java/io/oduck/api/domain/anime/dto/SearchFilterDsl.java
  src/main/java/io/oduck/api/domain/anime/repository/AnimeRepositoryCustomImpl.java
  src/test/java/io/oduck/api/e2e/anime/AnimeControllerTest.java
  src/test/java/io/oduck/api/unit/anime/repository/AnimeRepositoryTest.java
  src/test/java/io/oduck/api/unit/anime/service/AnimeServiceTest.java
Labels: Bug fix, Refactor, Test

#87 github pr 및 push시 빌드 성공후 docker hub push #86
  .github/workflows/dev_ci.yml
  .github/workflows/prod_ci.yml
Labels: Deploy, Setting

#85 애니 관련 도메인 수정, 삭제 구현 #63
  src/docs/asciidoc/index.adoc
  src/main/java/io/oduck/api/domain/admin/controller/AdminController.java
  src/main/java/io/oduck/api/domain/genre/dto/GenreReq.java
  src/main/java/io/oduck/api/domain/genre/entity/Genre.java
  src/main/java/io/oduck/api/domain/genre/repository/GenreRepository.java
  src/main/java/io/oduck/api/domain/genre/service/GenreService.java
  src/main/java/io/oduck/api/domain/genre/service/GenreServiceImpl.java
  src/main/java/io/oduck/api/domain/originalAuthor/dto/OriginalAuthorReq.java
  src/main/java/io/oduck/api/domain/originalAuthor/entity/OriginalAuthor.java
  src/main/java/io/oduck/api/domain/originalAuthor/repository/OriginalAuthorRepository.java
  src/main/java/io/oduck/api/domain/originalAuthor/service/OriginalAuthorService.java
  src/main/java/io/oduck/api/domain/originalAuthor/service/OriginalAuthorServiceImpl.java
  src/main/java/io/oduck/api/domain/series/dto/SeriesReq.java
  src/main/java/io/oduck/api/domain/series/entity/Series.java
  src/main/java/io/oduck/api/domain/series/repository/SeriesRepository.java
  src/main/java/io/oduck/api/domain/series/service/SeriesService.java
  src/main/java/io/oduck/api/domain/series/service/SeriesServiceImpl.java
  src/main/java/io/oduck/api/domain/studio/dto/StudioReq.java
  src/main/java/io/oduck/api/domain/studio/entity/Studio.java
  src/main/java/io/oduck/api/domain/studio/repository/StudioRepository.java
  src/main/java/io/oduck/api/domain/studio/service/StudioService.java
  src/main/java/io/oduck/api/domain/studio/service/StudioServiceImpl.java
  src/main/java/io/oduck/api/domain/voiceActor/dto/VoiceActorReq.java
  src/main/java/io/oduck/api/domain/voiceActor/entity/VoiceActor.java
  src/main/java/io/oduck/api/domain/voiceActor/repository/VoiceActorRepository.java
  src/main/java/io/oduck/api/domain/voiceActor/service/VoiceActorService.java
  src/main/java/io/oduck/api/domain/voiceActor/service/VoiceActorServiceImpl.java
  src/test/java/io/oduck/api/e2e/admin/AdminControllerTest.java
  src/test/java/io/oduck/api/unit/genre/service/GenreServiceTest.java
  src/test/java/io/oduck/api/unit/originalAuthor/service/OriginalAuthorServiceTest.java
  src/test/java/io/oduck/api/unit/series/service/SeriesServiceTest.java
  src/test/java/io/oduck/api/unit/studio/service/StudioServiceTest.java
  src/test/java/io/oduck/api/unit/voiceActor/service/VoiceActorServiceTest.java
Labels: Feature, Refactor, Test

#89 검색 수정 #88
  src/main/java/io/oduck/api/domain/anime/dto/AnimeReq.java
  src/test/java/io/oduck/api/e2e/anime/AnimeControllerTest.java
Labels: Refactor, Test

#82 애니메이션 별점 평가 여부 조회 구현 #80
  src/docs/asciidoc/index.adoc
  src/main/java/io/oduck/api/domain/starRating/controller/StarRatingController.java
  src/main/java/io/oduck/api/domain/starRating/dto/StarRatingResDto.java
  src/main/java/io/oduck/api/domain/starRating/entity/StarRating.java
  src/main/java/io/oduck/api/domain/starRating/service/StarRatingService.java
  src/main/java/io/oduck/api/domain/starRating/service/StarRatingServiceImpl.java
  src/test/java/io/oduck/api/e2e/starRating/StarRatingControllerTest.java
  src/test/java/io/oduck/api/unit/starRating/service/StarRatingServiceTest.java
Labels: Bug fix, Docs, Feature, Refactor, Test

#92 일반 클라이언트도 장르 조회 가능하도록 변경 #83
  src/docs/asciidoc/index.adoc
  src/main/java/io/oduck/api/domain/admin/controller/AdminController.java
  src/main/java/io/oduck/api/domain/genre/controller/GenreController.java
  src/test/java/io/oduck/api/e2e/admin/AdminControllerTest.java
Labels: Feature

#94 애니메이션 별점 평가 수정 구현 #90
  src/docs/asciidoc/index.adoc
  src/main/java/io/oduck/api/domain/starRating/controller/StarRatingController.java
  src/main/java/io/oduck/api/domain/starRating/dto/StarRatingReqDto.java
  src/main/java/io/oduck/api/domain/starRating/entity/StarRating.java
  src/main/java/io/oduck/api/domain/starRating/service/StarRatingService.java
  src/main/java/io/oduck/api/domain/starRating/service/StarRatingServiceImpl.java
  src/test/java/io/oduck/api/e2e/starRating/StarRatingControllerTest.java
  src/test/java/io/oduck/api/unit/starRating/service/StarRatingServiceTest.java
Labels: Docs, Feature, Refactor, Test

#97 브라우저 종료시 세션 유지 안 되는 문제 #96Feature/96
  src/main/resources/application-dev.yml
  src/main/resources/application-local.yml
  src/main/resources/application-prod.yml
Labels: Bug fix, Deploy, Emergency

#99 관리자 애니 조회 페이징 처리 #91
  src/docs/asciidoc/index.adoc
  src/main/java/io/oduck/api/domain/admin/controller/AdminController.java
  src/main/java/io/oduck/api/domain/admin/dto/AdminReq.java
  src/main/java/io/oduck/api/domain/admin/dto/AdminRes.java
  src/main/java/io/oduck/api/domain/anime/controller/AnimeController.java
  src/main/java/io/oduck/api/domain/anime/dto/SearchFilterDsl.java
  src/main/java/io/oduck/api/domain/anime/repository/AnimeRepositoryCustom.java
  src/main/java/io/oduck/api/domain/anime/repository/AnimeRepositoryCustomImpl.java
  src/main/java/io/oduck/api/domain/anime/service/AnimeService.java
  src/main/java/io/oduck/api/domain/anime/service/AnimeServiceImpl.java
  src/main/java/io/oduck/api/global/common/PageResponse.java
  src/main/java/io/oduck/api/global/config/WebConfig.java
  src/main/java/io/oduck/api/global/converter/StringToAdminAnimeSortConverter.java
  src/main/java/io/oduck/api/global/converter/StringToAdminQueryTypeConverter.java
  src/main/java/io/oduck/api/global/converter/StringToStatusConverter.java
  src/main/java/io/oduck/api/global/utils/QueryDslUtils.java
  src/test/java/io/oduck/api/e2e/admin/AdminControllerTest.java
  src/test/java/io/oduck/api/unit/anime/repository/AnimeRepositoryTest.java
  src/test/java/io/oduck/api/unit/anime/service/AnimeServiceTest.java
Labels: Docs, Feature, Test

#105 애니 상세 조회 시 평가 평균 조회 api #95
  src/docs/asciidoc/index.adoc
  src/main/java/io/oduck/api/domain/admin/controller/AdminController.java
  src/main/java/io/oduck/api/domain/anime/controller/AnimeController.java
  src/main/java/io/oduck/api/domain/anime/dto/AnimeRes.java
  src/main/java/io/oduck/api/domain/anime/service/AnimeService.java
  src/main/java/io/oduck/api/domain/anime/service/AnimeServiceImpl.java
  src/test/java/io/oduck/api/e2e/anime/AnimeControllerTest.java
Labels: Docs, Feature, Test

#106 별점 평가 여부 조회시 점수도 포함하도록 수정 #103
  src/main/java/io/oduck/api/domain/starRating/dto/StarRatingResDto.java
  src/main/java/io/oduck/api/domain/starRating/service/StarRatingService.java
  src/main/java/io/oduck/api/domain/starRating/service/StarRatingServiceImpl.java
  src/main/resources/application-prod.yml
  src/test/java/io/oduck/api/e2e/starRating/StarRatingControllerTest.java
  src/test/java/io/oduck/api/unit/starRating/service/StarRatingServiceTest.java
Labels: Feature, Test

#107 회원 탈퇴 구현 #104
  src/main/java/io/oduck/api/domain/member/entity/Member.java
  src/main/java/io/oduck/api/domain/member/entity/MemberProfile.java
  src/main/java/io/oduck/api/domain/member/entity/Role.java
  src/main/java/io/oduck/api/domain/member/repository/MemberRepository.java
  src/main/java/io/oduck/api/domain/member/repository/MemberRepositoryImpl.java
  src/main/java/io/oduck/api/domain/member/service/MemberServiceImpl.java
  src/main/java/io/oduck/api/global/security/auth/entity/AuthLocal.java
  src/main/java/io/oduck/api/global/security/auth/entity/AuthSocial.java
  src/main/java/io/oduck/api/global/security/auth/service/AuthService.java
  src/test/java/io/oduck/api/unit/member/service/MemberServiceTest.java
Labels: Feature, Refactor, Test

#101 짧은 리뷰 조회 수정 #93
  src/docs/asciidoc/index.adoc
  src/main/java/io/oduck/api/domain/review/controller/ShortReviewController.java
  src/main/java/io/oduck/api/domain/review/dto/ShortReviewDslDto.java
  src/main/java/io/oduck/api/domain/review/dto/ShortReviewReqDto.java
  src/main/java/io/oduck/api/domain/review/dto/ShortReviewResDto.java
  src/main/java/io/oduck/api/domain/review/repository/ShortReviewRepositoryImpl.java
  src/main/java/io/oduck/api/domain/review/service/ShortReviewService.java
  src/main/java/io/oduck/api/domain/review/service/ShortReviewServiceImpl.java
  src/main/java/io/oduck/api/global/utils/QueryDslUtils.java
  src/main/resources/application-test.yml
  src/test/java/io/oduck/api/e2e/shortReview/ShortReviewControllerTest.java
  src/test/java/io/oduck/api/global/utils/ShortReviewTestUtils.java
  src/test/java/io/oduck/api/unit/shortReview/repository/ShortReviewRepositoryTest.java
  src/test/java/io/oduck/api/unit/shortReview/service/ShortReviewServiceTest.java
  src/test/resources/db/data.sql
Labels: Bug fix, Docs, Feature, Setting, Test

#108 장르, 성우, 원작자, 제작사, 시리즈 삭제 수정 #102
  src/main/java/io/oduck/api/domain/admin/controller/AdminController.java
  src/main/java/io/oduck/api/domain/anime/dto/AnimeReq.java
  src/main/java/io/oduck/api/domain/anime/entity/Anime.java
  src/main/java/io/oduck/api/domain/genre/entity/Genre.java
  src/main/java/io/oduck/api/domain/genre/repository/GenreRepository.java
  src/main/java/io/oduck/api/domain/genre/repository/GenreRepositoryCustom.java
  src/main/java/io/oduck/api/domain/genre/repository/GenreRepositoryCustomImpl.java
  src/main/java/io/oduck/api/domain/originalAuthor/entity/OriginalAuthor.java
  src/main/java/io/oduck/api/domain/originalAuthor/repository/OriginalAuthorRepository.java
  src/main/java/io/oduck/api/domain/originalAuthor/repository/OriginalAuthorRepositoryCustom.java
  src/main/java/io/oduck/api/domain/originalAuthor/repository/OriginalAuthorRepositoryCustomImpl.java
  src/main/java/io/oduck/api/domain/series/entity/Series.java
  src/main/java/io/oduck/api/domain/series/repository/SeriesRepository.java
  src/main/java/io/oduck/api/domain/series/repository/SeriesRepositoryCustom.java
  src/main/java/io/oduck/api/domain/series/repository/SeriesRepositoryCustomImpl.java
  src/main/java/io/oduck/api/domain/studio/entity/Studio.java
  src/main/java/io/oduck/api/domain/studio/repository/StudioRepository.java
  src/main/java/io/oduck/api/domain/studio/repository/StudioRepositoryCustom.java
  src/main/java/io/oduck/api/domain/studio/repository/StudioRepositoryCustomImpl.java
  src/main/java/io/oduck/api/domain/voiceActor/entity/VoiceActor.java
  src/main/java/io/oduck/api/domain/voiceActor/repository/VoiceActorRepository.java
  src/main/java/io/oduck/api/domain/voiceActor/repository/VoiceActorRepositoryCustom.java
  src/main/java/io/oduck/api/domain/voiceActor/repository/VoiceActorRepositoryCustomImpl.java
Labels: Refactor

#113 로깅 업데이트 #110
  src/main/java/io/oduck/api/global/security/config/SecurityConfig.java
  src/main/java/io/oduck/api/global/security/filter/HTTPLoggingFilter.java
  src/main/java/io/oduck/api/global/security/filter/ReqLoggingFilter.java
Labels: Deploy, Refactor, Setting

#114 별점 수정시 애니 토탈 별점 반영 #111
  src/main/java/io/oduck/api/domain/anime/repository/AnimeRepository.java
  src/main/java/io/oduck/api/domain/starRating/service/StarRatingServiceImpl.java
  src/test/java/io/oduck/api/unit/starRating/service/StarRatingServiceTest.java
Labels: Refactor

#109 입덕포인트 생성, 존재 유무 구현 #74
  src/docs/asciidoc/index.adoc
  src/main/java/io/oduck/api/domain/attractionPoint/controller/AttractionPointController.java
  src/main/java/io/oduck/api/domain/attractionPoint/dto/AttractionPointReqDto.java
  src/main/java/io/oduck/api/domain/attractionPoint/dto/AttractionPointResDto.java
  src/main/java/io/oduck/api/domain/attractionPoint/entity/AttractionPoint.java
  src/main/java/io/oduck/api/domain/attractionPoint/service/AttractionPointService.java
  src/main/java/io/oduck/api/domain/attractionPoint/service/AttractionPointServiceImpl.java
  src/test/java/io/oduck/api/e2e/attractionPoint/AttractionPointControllerTest.java
  src/test/java/io/oduck/api/unit/attractionPoint/repository/AttractionPointRepositoryTest.java
  src/test/java/io/oduck/api/unit/attractionPoint/service/AttractionPointServiceTest.java
Labels: Docs, Feature, Refactor, Test

#120 cursor 관련 수정 #116
  src/main/java/io/oduck/api/domain/anime/dto/AnimeReq.java
  src/main/java/io/oduck/api/domain/anime/dto/AnimeRes.java
  src/main/java/io/oduck/api/domain/anime/repository/AnimeRepositoryCustomImpl.java
  src/test/java/io/oduck/api/e2e/anime/AnimeControllerTest.java
Labels: Refactor, Test

#119 배포 환경에서 actuator 요청시 로깅 제외 로직 추가 #118
  src/main/java/io/oduck/api/global/advice/ExceptionHandlerAdvice.java
  src/main/java/io/oduck/api/global/security/config/SecurityConfig.java
  src/main/java/io/oduck/api/global/security/filter/HTTPLoggingFilter.java
  src/main/java/io/oduck/api/global/webHook/WebHookService.java
  src/main/resources/application-dev.yml
  src/main/resources/application-local.yml
  src/main/resources/application-prod.yml
Labels: Deploy, Refactor, Setting

#122 북마크 애니 목록에 평균 별점 적용 #115
  src/main/java/io/oduck/api/domain/bookmark/dto/BookmarkDslDto.java
  src/main/java/io/oduck/api/domain/bookmark/dto/BookmarkResDto.java
  src/main/java/io/oduck/api/domain/bookmark/repository/BookmarkRepositoryImpl.java
Labels: Refactor

#124 작성한 리뷰 목록 조회 #123
  src/main/java/io/oduck/api/domain/member/controller/MemberController.java
  src/main/java/io/oduck/api/domain/review/repository/ShortReviewRepositoryCustom.java
  src/main/java/io/oduck/api/domain/review/repository/ShortReviewRepositoryImpl.java
  src/main/java/io/oduck/api/domain/review/service/ShortReviewService.java
  src/main/java/io/oduck/api/domain/review/service/ShortReviewServiceImpl.java
Labels: Feature

#128 평균 별점 통일 #125
  src/main/java/io/oduck/api/domain/anime/dto/AnimeRes.java
  src/main/java/io/oduck/api/domain/anime/repository/AnimeRepository.java
  src/main/java/io/oduck/api/domain/bookmark/dto/BookmarkResDto.java
  src/main/java/io/oduck/api/global/security/filter/HTTPLoggingFilter.java
Labels: Refactor

#129 애니 수정 변경 #121
  src/docs/asciidoc/index.adoc
  src/main/java/io/oduck/api/domain/admin/controller/AdminController.java
  src/main/java/io/oduck/api/domain/anime/dto/AnimeReq.java
  src/main/java/io/oduck/api/domain/anime/entity/Anime.java
  src/main/java/io/oduck/api/domain/anime/service/AnimeService.java
  src/main/java/io/oduck/api/domain/anime/service/AnimeServiceImpl.java
  src/test/java/io/oduck/api/e2e/admin/AdminControllerTest.java
  src/test/java/io/oduck/api/global/utils/AnimeTestUtils.java
  src/test/java/io/oduck/api/unit/anime/service/AnimeServiceTest.java
Labels: Docs, Refactor

#127 짧은 리뷰 작성, 수정 후 목록에 반영 #117
  src/main/java/io/oduck/api/domain/review/service/ShortReviewServiceImpl.java
  src/test/java/io/oduck/api/unit/shortReview/repository/ShortReviewRepositoryTest.java
  src/test/java/io/oduck/api/unit/shortReview/service/ShortReviewServiceTest.java
Labels: Refactor, Test
