Repository oduck-team/oduck-server, pull requests merged in 2023-10, with the labels that each got.

#7 회원 Stub, 테스트 및 문서화 추가 #5
  .gitignore
  build.gradle
  src/docs/asciidoc/index.adoc
  src/main/java/io/oduck/api/domain/member/controller/MemberController.java
  src/main/java/io/oduck/api/domain/member/dto/MemberReqDto.java
  src/main/java/io/oduck/api/domain/member/dto/MemberResDto.java
  src/main/java/io/oduck/api/domain/member/service/MemberService.java
  src/main/java/io/oduck/api/domain/member/service/MemberServiceStub.java
  src/main/java/io/oduck/api/global/advice/ExceptionHandlerAdvice.java
  src/main/java/io/oduck/api/global/common/EntityBased.java
  src/main/java/io/oduck/api/global/common/ErrorResponse.java
  src/main/java/io/oduck/api/global/common/PageInfo.java
  src/main/java/io/oduck/api/global/common/PageResponse.java
  src/main/java/io/oduck/api/global/common/SingleResponse.java
  src/main/java/io/oduck/api/global/common/SliceResponse.java
  src/main/java/io/oduck/api/global/exception/BadRequestException.java
  src/main/java/io/oduck/api/global/exception/ConflictException.java
  src/main/java/io/oduck/api/global/exception/CustomException.java
  src/main/java/io/oduck/api/global/exception/ForbiddenException.java
  src/main/java/io/oduck/api/global/exception/NotFoundException.java
  src/main/java/io/oduck/api/global/exception/UnauthorizedException.java
  src/main/resources/application.yml
  src/test/java/io/oduck/api/e2e/member/MemberControllerTest.java
  src/test/java/io/oduck/api/global/config/RestDocsConfig.java
  src/test/java/io/oduck/api/unit/member/service/MemberServiceTest.java
  src/test/resources/org/springframework/restdocs/templates/request-fields.snippet
  src/test/resources/org/springframework/restdocs/templates/request-headers.snippet
  src/test/resources/org/springframework/restdocs/templates/request-parameters.snippet
Labels: Docs, Feature, Test

#11 소셜 로그인 구현
  .dockerignore
  .gitignore
  build.gradle
  docker-compose.yml
  docker.md
  dockerfile-dev
  src/main/java/io/oduck/api/domain/member/entity/LoginType.java
  src/main/java/io/oduck/api/domain/member/entity/Member.java
  src/main/java/io/oduck/api/domain/member/entity/MemberProfile.java
  src/main/java/io/oduck/api/domain/member/repository/MemberProfileRepository.java
  src/main/java/io/oduck/api/domain/member/repository/MemberRepository.java
  src/main/java/io/oduck/api/global/config/WebConfig.java
  src/main/java/io/oduck/api/global/security/auth/controller/AuthController.java
  src/main/java/io/oduck/api/global/security/auth/dto/LoginUser.java
  src/main/java/io/oduck/api/global/security/auth/dto/OAuthAttributes.java
  src/main/java/io/oduck/api/global/security/auth/dto/SessionUser.java
  src/main/java/io/oduck/api/global/security/auth/entity/AuthLocal.java
  src/main/java/io/oduck/api/global/security/auth/entity/AuthSocial.java
  src/main/java/io/oduck/api/global/security/auth/entity/SocialType.java
  src/main/java/io/oduck/api/global/security/auth/repository/AuthSocialRepository.java
  src/main/java/io/oduck/api/global/security/auth/service/CustomOAuth2UserService.java
  src/main/java/io/oduck/api/global/security/config/SecurityConfig.java
  src/main/java/io/oduck/api/global/security/handler/ForbiddenHandler.java
  src/main/java/io/oduck/api/global/security/handler/LoginFailureHandler.java
  src/main/java/io/oduck/api/global/security/handler/LoginSuccessHandler.java
  src/main/java/io/oduck/api/global/security/handler/LogoutHandler.java
  src/main/java/io/oduck/api/global/security/handler/UnauthorizedHandler.java
  src/main/java/io/oduck/api/global/security/resolver/LoginUserArgumentResolver.java
  src/main/java/io/oduck/api/global/security/userInfo/GoogleUserInfo.java
  src/main/java/io/oduck/api/global/security/userInfo/KakaoUserInfo.java
  src/main/java/io/oduck/api/global/security/userInfo/NaverUserInfo.java
  src/main/java/io/oduck/api/global/security/userInfo/SocialUserInfo.java
  src/main/java/io/oduck/api/global/utils/NameGenerator.java
  src/main/resources/application.yml
  src/test/java/io/oduck/api/ApiApplicationTests.java
  src/test/java/io/oduck/api/e2e/member/MemberControllerTest.java
Labels: Docs, Deploy, Feature, Refactor, Setting, Test

#8 애니 Stub 및 Test 추가
  src/docs/asciidoc/index.adoc
  src/main/java/io/oduck/api/domain/anime/controller/AnimeController.java
  src/main/java/io/oduck/api/domain/anime/dto/AnimeReq.java
  src/main/java/io/oduck/api/domain/anime/dto/AnimeRes.java
  src/main/java/io/oduck/api/domain/anime/entity/Anime.java
  src/main/java/io/oduck/api/domain/anime/service/AnimeService.java
  src/main/java/io/oduck/api/domain/anime/service/AnimeServiceStub.java
  src/main/java/io/oduck/api/domain/attractionPoint/entity/AttractionElement.java
  src/test/java/io/oduck/api/e2e/anime/AnimeControllerTest.java
  src/test/java/io/oduck/api/unit/anime/service/AnimeServiceTest.java
Labels: Docs, Feature, Refactor, Test

#18 로컬 로그인 및 인증 도메인
  .dockerignore
  docker-compose.yml
  docker.md
  dockerfile-dev
  src/docs/asciidoc/index.adoc
  src/main/java/io/oduck/api/domain/member/controller/MemberController.java
  src/main/java/io/oduck/api/domain/member/entity/Member.java
  src/main/java/io/oduck/api/domain/member/entity/MemberProfile.java
  src/main/java/io/oduck/api/domain/member/repository/MemberProfileRepository.java
  src/main/java/io/oduck/api/domain/member/service/MemberService.java
  src/main/java/io/oduck/api/domain/member/service/MemberServiceStub.java
  src/main/java/io/oduck/api/global/exception/ConflictException.java
  src/main/java/io/oduck/api/global/security/auth/controller/AuthController.java
  src/main/java/io/oduck/api/global/security/auth/dto/AuthResDto.java
  src/main/java/io/oduck/api/global/security/auth/dto/AuthUser.java
  src/main/java/io/oduck/api/global/security/auth/dto/CustomOAuth2User.java
  src/main/java/io/oduck/api/global/security/auth/dto/CustomUserDetails.java
  src/main/java/io/oduck/api/global/security/auth/dto/LocalAuthDto.java
  src/main/java/io/oduck/api/global/security/auth/entity/AuthLocal.java
  src/main/java/io/oduck/api/global/security/auth/entity/AuthSocial.java
  src/main/java/io/oduck/api/global/security/auth/repository/AuthLocalRepository.java
  src/main/java/io/oduck/api/global/security/auth/service/AuthService.java
  src/main/java/io/oduck/api/global/security/auth/service/LocalLoginService.java
  src/main/java/io/oduck/api/global/security/auth/service/SocialLoginService.java
  src/main/java/io/oduck/api/global/security/config/SecurityConfig.java
  src/main/java/io/oduck/api/global/security/filter/LocalAuthenticationFilter.java
  src/main/java/io/oduck/api/global/security/handler/LoginSuccessHandler.java
  src/main/java/io/oduck/api/global/security/resolver/LoginUserArgumentResolver.java
  src/test/java/io/oduck/api/e2e/anime/AnimeControllerTest.java
  src/test/java/io/oduck/api/e2e/auth/AuthControllerTest.java
  src/test/java/io/oduck/api/e2e/member/MemberControllerTest.java
  src/test/java/io/oduck/api/global/MockMember/WithCustomMockMember.java
  src/test/java/io/oduck/api/global/MockMember/WithMemberDetailsSecurityContextFactory.java
  src/test/java/io/oduck/api/global/initializer/TestDataInitializer.java
  src/test/java/io/oduck/api/unit/member/repository/MemberRepositoryTest.java
Labels: Docs, Feature, Refactor, Setting, Test

#25 각 도메인 별 repository 및 builder 추가 #24
  src/main/java/io/oduck/api/domain/anime/entity/Anime.java
  src/main/java/io/oduck/api/domain/anime/repository/AnimeRepository.java
  src/main/java/io/oduck/api/domain/bookmark/entity/Bookmark.java
  src/main/java/io/oduck/api/domain/bookmark/repository/BookmarkRepository.java
  src/main/java/io/oduck/api/domain/review/entity/ShortReview.java
  src/main/java/io/oduck/api/domain/review/repository/ShortReviewRepository.java
  src/main/java/io/oduck/api/domain/reviewLike/entity/ShortReviewLike.java
  src/main/java/io/oduck/api/domain/reviewLike/repository/ShortReviewLikeRepository.java
Labels: Emergency, Feature, Refactor

#23 Anime 등록, 수정 문서화 #17
  src/docs/asciidoc/index.adoc
  src/main/java/io/oduck/api/domain/admin/controller/AdminController.java
  src/main/java/io/oduck/api/domain/anime/controller/AnimeController.java
  src/main/java/io/oduck/api/domain/anime/dto/AnimeReq.java
  src/main/java/io/oduck/api/domain/anime/dto/AnimeRes.java
  src/main/java/io/oduck/api/domain/anime/entity/Anime.java
  src/main/java/io/oduck/api/domain/anime/service/AnimeService.java
  src/main/java/io/oduck/api/domain/anime/service/AnimeServiceStub.java
  src/test/java/io/oduck/api/e2e/admin/AdminControllerTest.java
  src/test/java/io/oduck/api/e2e/anime/AnimeControllerTest.java
  src/test/java/io/oduck/api/global/utils/AnimeTestUtils.java
  src/test/java/io/oduck/api/unit/anime/service/AnimeServiceTest.java
Labels: Docs, Feature, Refactor, Test

#30 애니 도메인 구현 #28
  src/main/java/io/oduck/api/domain/anime/entity/Anime.java
  src/main/java/io/oduck/api/domain/anime/entity/AnimeGenre.java
  src/main/java/io/oduck/api/domain/anime/entity/AnimeOriginalAuthor.java
  src/main/java/io/oduck/api/domain/anime/entity/AnimeStudio.java
  src/main/java/io/oduck/api/domain/anime/entity/AnimeVoiceActor.java
  src/main/java/io/oduck/api/domain/anime/repository/AnimeGenreRepository.java
  src/main/java/io/oduck/api/domain/anime/repository/AnimeOriginalAuthorRepository.java
  src/main/java/io/oduck/api/domain/anime/repository/AnimeStudioRepository.java
  src/main/java/io/oduck/api/domain/anime/repository/AnimeVoiceActorRepository.java
  src/main/java/io/oduck/api/domain/genre/entity/Genre.java
  src/main/java/io/oduck/api/domain/genre/repository/GenreRepository.java
  src/main/java/io/oduck/api/domain/originalAuthor/entity/OriginalAuthor.java
  src/main/java/io/oduck/api/domain/originalAuthor/repository/OriginalAuthorRepository.java
  src/main/java/io/oduck/api/domain/series/entity/Series.java
  src/main/java/io/oduck/api/domain/series/repository/SeriesRepository.java
  src/main/java/io/oduck/api/domain/studio/entity/Studio.java
  src/main/java/io/oduck/api/domain/studio/repository/StudioRepository.java
  src/main/java/io/oduck/api/domain/voiceActor/entity/VoiceActor.java
  src/main/java/io/oduck/api/domain/voiceActor/repository/VoiceActorRepository.java
  src/test/java/io/oduck/api/unit/anime/repository/AnimeRepositoryTest.java
Labels: Feature, Refactor, Test

#27 회원 도메인 구현 #22
  build.gradle
  src/docs/asciidoc/index.adoc
  src/main/java/io/oduck/api/domain/bookmark/dto/BookmarkDslDto.java
  src/main/java/io/oduck/api/domain/bookmark/dto/BookmarkReqDto.java
  src/main/java/io/oduck/api/domain/bookmark/dto/BookmarkResDto.java
  src/main/java/io/oduck/api/domain/bookmark/entity/Bookmark.java
  src/main/java/io/oduck/api/domain/bookmark/repository/BookmarkRepository.java
  src/main/java/io/oduck/api/domain/bookmark/repository/BookmarkRepositoryCustom.java
  src/main/java/io/oduck/api/domain/bookmark/repository/BookmarkRepositoryImpl.java
  src/main/java/io/oduck/api/domain/bookmark/service/BookmarkService.java
  src/main/java/io/oduck/api/domain/bookmark/service/BookmarkServiceImpl.java
  src/main/java/io/oduck/api/domain/member/controller/MemberController.java
  src/main/java/io/oduck/api/domain/member/dto/MemberDslDto.java
  src/main/java/io/oduck/api/domain/member/dto/MemberReqDto.java
  src/main/java/io/oduck/api/domain/member/dto/MemberResDto.java
  src/main/java/io/oduck/api/domain/member/entity/Member.java
  src/main/java/io/oduck/api/domain/member/entity/MemberProfile.java
  src/main/java/io/oduck/api/domain/member/repository/MemberProfileRepository.java
  src/main/java/io/oduck/api/domain/member/repository/MemberRepository.java
  src/main/java/io/oduck/api/domain/member/repository/MemberRepositoryCustom.java
  src/main/java/io/oduck/api/domain/member/repository/MemberRepositoryImpl.java
  src/main/java/io/oduck/api/domain/member/service/MemberService.java
  src/main/java/io/oduck/api/domain/member/service/MemberServiceImpl.java
  src/main/java/io/oduck/api/domain/member/service/MemberServiceStub.java
  src/main/java/io/oduck/api/domain/review/dto/ShortReviewResDto.java
  src/main/java/io/oduck/api/domain/starRating/entity/StarRating.java
  src/main/java/io/oduck/api/domain/starRating/repository/StarRatingRepository.java
  src/main/java/io/oduck/api/global/common/EntityBased.java
  src/main/java/io/oduck/api/global/common/OrderDirection.java
  src/main/java/io/oduck/api/global/common/SliceResponse.java
  src/main/java/io/oduck/api/global/config/WebConfig.java
  src/main/java/io/oduck/api/global/converter/StringToBookmarkSortConverter.java
  src/main/java/io/oduck/api/global/converter/StringToOrderDirectionConverter.java
  src/main/java/io/oduck/api/global/security/auth/entity/AuthLocal.java
  src/main/java/io/oduck/api/global/security/auth/entity/AuthSocial.java
  src/main/java/io/oduck/api/global/security/auth/service/SocialLoginService.java
  src/main/java/io/oduck/api/global/security/config/SecurityConfig.java
  src/main/java/io/oduck/api/global/utils/PagingUtils.java
  src/main/java/io/oduck/api/global/utils/QueryDslUtils.java
  src/test/java/io/oduck/api/e2e/auth/AuthControllerTest.java
  src/test/java/io/oduck/api/e2e/member/MemberControllerTest.java
  src/test/java/io/oduck/api/e2e/shortReview/ShortReviewControllerTest.java
  src/test/java/io/oduck/api/global/config/QueryDslConfig.java
  src/test/java/io/oduck/api/global/config/RestDocsConfig.java
  src/test/java/io/oduck/api/global/initializer/AnimeConstruct.java
  src/test/java/io/oduck/api/global/initializer/MemberConstruct.java
  src/test/java/io/oduck/api/global/initializer/StubInitializer.java
  src/test/java/io/oduck/api/global/initializer/TestDataInitializer.java
  src/test/java/io/oduck/api/global/mockMember/WithCustomMockMember.java
  src/test/java/io/oduck/api/global/mockMember/WithMemberDetailsSecurityContextFactory.java
  src/test/java/io/oduck/api/global/stub/AnimeStub.java
  src/test/java/io/oduck/api/global/stub/BookmarkStub.java
  src/test/java/io/oduck/api/global/stub/MemberStub.java
  src/test/java/io/oduck/api/global/stub/StarRatingStub.java
  src/test/java/io/oduck/api/unit/anime/repository/AnimeRepositoryTest.java
  src/test/java/io/oduck/api/unit/bookmark/repository/BookmarkRepositoryTest.java
  src/test/java/io/oduck/api/unit/bookmark/service/BookmarkServiceTest.java
  src/test/java/io/oduck/api/unit/member/repository/MemberRepositoryTest.java
  src/test/java/io/oduck/api/unit/member/service/MemberServiceTest.java
  src/test/resources/db/data.sql
Labels: Docs, Feature, Refactor, Test

#35 회원 프로필 조회시 memberId 추가 #34
  src/main/java/io/oduck/api/domain/member/dto/MemberResDto.java
  src/main/java/io/oduck/api/domain/member/service/MemberServiceImpl.java
  src/test/java/io/oduck/api/e2e/member/MemberControllerTest.java
Labels: Docs, Emergency, Refactor, Test

#37 애니 컨트롤러, 서비스 api 구현 #32
  src/main/java/io/oduck/api/domain/admin/controller/AdminController.java
  src/main/java/io/oduck/api/domain/anime/dto/AnimeReq.java
  src/main/java/io/oduck/api/domain/anime/dto/AnimeRes.java
  src/main/java/io/oduck/api/domain/anime/dto/VoiceActorReq.java
  src/main/java/io/oduck/api/domain/anime/dto/VoiceActorRes.java
  src/main/java/io/oduck/api/domain/anime/entity/Anime.java
  src/main/java/io/oduck/api/domain/anime/service/AnimeService.java
  src/main/java/io/oduck/api/domain/anime/service/AnimeServiceImpl.java
  src/main/java/io/oduck/api/domain/anime/service/AnimeServiceStub.java
  src/main/java/io/oduck/api/domain/genre/service/GenreService.java
  src/main/java/io/oduck/api/domain/genre/service/GenreServiceImpl.java
  src/main/java/io/oduck/api/domain/originalAuthor/service/OriginalAuthorService.java
  src/main/java/io/oduck/api/domain/originalAuthor/service/OriginalAuthorServiceImpl.java
  src/main/java/io/oduck/api/domain/series/service/SeriesService.java
  src/main/java/io/oduck/api/domain/series/service/SeriesServiceImpl.java
  src/main/java/io/oduck/api/domain/studio/service/StudioService.java
  src/main/java/io/oduck/api/domain/studio/service/StudioServiceImpl.java
  src/main/java/io/oduck/api/domain/voiceActor/service/VoiceActorService.java
  src/main/java/io/oduck/api/domain/voiceActor/service/VoiceActorServiceImpl.java
  src/test/java/io/oduck/api/e2e/admin/AdminControllerTest.java
  src/test/java/io/oduck/api/e2e/anime/AnimeControllerTest.java
  src/test/java/io/oduck/api/global/utils/AnimeTestUtils.java
  src/test/java/io/oduck/api/unit/anime/repository/AnimeRepositoryTest.java
  src/test/java/io/oduck/api/unit/anime/service/AnimeServiceTest.java
Labels: Feature, Refactor, Test

#40 애니 상세 조회 구현 #38
  src/main/java/io/oduck/api/domain/anime/controller/AnimeController.java
  src/main/java/io/oduck/api/domain/anime/dto/AnimeRes.java
  src/main/java/io/oduck/api/domain/anime/repository/AnimeGenreRepository.java
  src/main/java/io/oduck/api/domain/anime/repository/AnimeOriginalAuthorRepository.java
  src/main/java/io/oduck/api/domain/anime/repository/AnimeRepository.java
  src/main/java/io/oduck/api/domain/anime/repository/AnimeStudioRepository.java
  src/main/java/io/oduck/api/domain/anime/repository/AnimeVoiceActorRepository.java
  src/main/java/io/oduck/api/domain/anime/service/AnimeServiceImpl.java
  src/test/java/io/oduck/api/e2e/anime/AnimeControllerTest.java
  src/test/java/io/oduck/api/unit/anime/repository/AnimeRepositoryTest.java
  src/test/java/io/oduck/api/unit/anime/service/AnimeServiceTest.java
  src/test/resources/db/data.sql
Labels: Feature, Refactor, Test

#41 북마크 도메인 구현 #26
  src/main/java/io/oduck/api/domain/anime/entity/Anime.java
  src/main/java/io/oduck/api/domain/anime/repository/AnimeRepository.java
  src/main/java/io/oduck/api/domain/bookmark/controller/BookmarkController.java
  src/main/java/io/oduck/api/domain/bookmark/dto/BookmarkReqDto.java
  src/main/java/io/oduck/api/domain/bookmark/dto/BookmarkResDto.java
  src/main/java/io/oduck/api/domain/bookmark/repository/BookmarkRepository.java
  src/main/java/io/oduck/api/domain/bookmark/repository/BookmarkRepositoryImpl.java
  src/main/java/io/oduck/api/domain/bookmark/service/BookmarkService.java
  src/main/java/io/oduck/api/domain/bookmark/service/BookmarkServiceImpl.java
  src/main/java/io/oduck/api/domain/member/service/MemberServiceImpl.java
  src/main/java/io/oduck/api/domain/review/dto/ShortReviewResDto.java
  src/main/java/io/oduck/api/global/common/EntityBased.java
  src/main/java/io/oduck/api/global/common/SliceResponse.java
  src/main/java/io/oduck/api/global/security/config/SecurityConfig.java
  src/main/java/io/oduck/api/global/utils/PagingUtils.java
  src/main/java/io/oduck/api/global/utils/QueryDslUtils.java
  src/test/java/io/oduck/api/e2e/bookmark/BookmarkControllerTest.java
  src/test/java/io/oduck/api/e2e/member/MemberControllerTest.java
  src/test/java/io/oduck/api/e2e/shortReview/ShortReviewControllerTest.java
  src/test/java/io/oduck/api/unit/bookmark/repository/BookmarkRepositoryTest.java
  src/test/java/io/oduck/api/unit/bookmark/service/BookmarkServiceTest.java
  src/test/java/io/oduck/api/unit/member/service/MemberServiceTest.java
Labels: Docs, Feature, Refactor, Test

#46 북마크 오류 긴급 수정 #45
  .gitignore
  src/main/java/io/oduck/api/domain/bookmark/service/BookmarkServiceImpl.java
  src/main/resources/application-example.yml
  src/test/java/io/oduck/api/unit/bookmark/service/BookmarkServiceTest.java
  src/test/java/io/oduck/api/unit/member/service/MemberServiceTest.java
Labels: Bug fix, Emergency, Refactor, Setting, Test

#42 원작 작가, 성우, 스튜디오, 장르 등록 및 조회 api #39
  src/docs/asciidoc/index.adoc
  src/main/java/io/oduck/api/domain/admin/controller/AdminController.java
  src/main/java/io/oduck/api/domain/anime/dto/AnimeReq.java
  src/main/java/io/oduck/api/domain/anime/dto/AnimeRes.java
  src/main/java/io/oduck/api/domain/anime/dto/AnimeVoiceActorReq.java
  src/main/java/io/oduck/api/domain/anime/dto/AnimeVoiceActorRes.java
  src/main/java/io/oduck/api/domain/anime/service/AnimeServiceImpl.java
  src/main/java/io/oduck/api/domain/genre/dto/GenreReq.java
  src/main/java/io/oduck/api/domain/genre/dto/GenreRes.java
  src/main/java/io/oduck/api/domain/genre/service/GenreService.java
  src/main/java/io/oduck/api/domain/genre/service/GenreServiceImpl.java
  src/main/java/io/oduck/api/domain/originalAuthor/dto/OriginalAuthorReq.java
  src/main/java/io/oduck/api/domain/originalAuthor/dto/OriginalAuthorRes.java
  src/main/java/io/oduck/api/domain/originalAuthor/service/OriginalAuthorService.java
  src/main/java/io/oduck/api/domain/originalAuthor/service/OriginalAuthorServiceImpl.java
  src/main/java/io/oduck/api/domain/series/dto/SeriesReq.java
  src/main/java/io/oduck/api/domain/series/dto/SeriesRes.java
  src/main/java/io/oduck/api/domain/series/service/SeriesService.java
  src/main/java/io/oduck/api/domain/series/service/SeriesServiceImpl.java
  src/main/java/io/oduck/api/domain/studio/dto/StudioReq.java
  src/main/java/io/oduck/api/domain/studio/dto/StudioRes.java
  src/main/java/io/oduck/api/domain/studio/service/StudioService.java
  src/main/java/io/oduck/api/domain/studio/service/StudioServiceImpl.java
  src/main/java/io/oduck/api/domain/voiceActor/dto/VoiceActorReq.java
  src/main/java/io/oduck/api/domain/voiceActor/dto/VoiceActorRes.java
  src/main/java/io/oduck/api/domain/voiceActor/service/VoiceActorService.java
  src/main/java/io/oduck/api/domain/voiceActor/service/VoiceActorServiceImpl.java
  src/test/java/io/oduck/api/e2e/admin/AdminControllerTest.java
  src/test/java/io/oduck/api/global/utils/AnimeTestUtils.java
  src/test/java/io/oduck/api/unit/anime/service/AnimeServiceTest.java
  src/test/java/io/oduck/api/unit/genre/repository/GenreRepositoryTest.java
  src/test/java/io/oduck/api/unit/genre/service/GenreServiceTest.java
  src/test/java/io/oduck/api/unit/originalAuthor/repository/OriginalAuthorRepositoryTest.java
  src/test/java/io/oduck/api/unit/originalAuthor/service/OriginalAuthorServiceTest.java
  src/test/java/io/oduck/api/unit/series/repository/SeriesRepositoryTest.java
  src/test/java/io/oduck/api/unit/series/service/SeriesServiceTest.java
  src/test/java/io/oduck/api/unit/studio/repository/StudioRepositoryTest.java
  src/test/java/io/oduck/api/unit/studio/service/StudioServiceTest.java
  src/test/java/io/oduck/api/unit/voiceActor/repository/VoiceActorRepositoryTest.java
  src/test/java/io/oduck/api/unit/voiceActor/service/VoiceActorServiceTest.java
Labels: Docs, Feature, Refactor, Test

#48 [긴급] 북마크 api 문서화 추가 #47
  src/docs/asciidoc/index.adoc
  src/test/java/io/oduck/api/e2e/bookmark/BookmarkControllerTest.java
Labels: Docs, Emergency, Test

#56 애니 검색 결과 페이징 구현 #43
  src/docs/asciidoc/index.adoc
  src/main/java/io/oduck/api/domain/anime/controller/AnimeController.java
  src/main/java/io/oduck/api/domain/anime/dto/AnimeReq.java
  src/main/java/io/oduck/api/domain/anime/dto/AnimeRes.java
  src/main/java/io/oduck/api/domain/anime/dto/SearchFilterDsl.java
  src/main/java/io/oduck/api/domain/anime/repository/AnimeRepository.java
  src/main/java/io/oduck/api/domain/anime/repository/AnimeRepositoryCustom.java
  src/main/java/io/oduck/api/domain/anime/repository/AnimeRepositoryCustomImpl.java
  src/main/java/io/oduck/api/domain/anime/service/AnimeService.java
  src/main/java/io/oduck/api/domain/anime/service/AnimeServiceImpl.java
  src/main/java/io/oduck/api/global/config/WebConfig.java
  src/main/java/io/oduck/api/global/converter/StringToAnimeSortConverter.java
  src/test/java/io/oduck/api/e2e/anime/AnimeControllerTest.java
  src/test/java/io/oduck/api/unit/anime/repository/AnimeRepositoryTest.java
  src/test/java/io/oduck/api/unit/anime/service/AnimeServiceTest.java
Labels: Docs, Feature, Refactor, Test

#61 애니 검색 충돌 수정
  src/main/java/io/oduck/api/domain/anime/dto/AnimeRes.java
  src/main/java/io/oduck/api/domain/anime/repository/AnimeRepositoryCustomImpl.java
  src/main/java/io/oduck/api/domain/anime/service/AnimeServiceImpl.java
  src/test/java/io/oduck/api/e2e/anime/AnimeControllerTest.java
  src/test/java/io/oduck/api/unit/anime/repository/AnimeRepositoryTest.java
  src/test/java/io/oduck/api/unit/anime/service/AnimeServiceTest.java
Labels: Emergency, Refactor, Test

#58 인증 상태 조회 응답시 memberId, role 추가 #55
  src/main/java/io/oduck/api/global/security/auth/controller/AuthController.java
  src/main/java/io/oduck/api/global/security/auth/dto/AuthResDto.java
  src/main/java/io/oduck/api/global/security/auth/dto/AuthUser.java
  src/main/java/io/oduck/api/global/security/auth/service/AuthService.java
  src/main/java/io/oduck/api/global/security/auth/service/LocalLoginService.java
  src/main/java/io/oduck/api/global/security/resolver/LoginUserArgumentResolver.java
  src/test/java/io/oduck/api/e2e/auth/AuthControllerTest.java
Labels: Emergency, Refactor, Test

#64 test: 인증 상태 조회 role 제거 #55
  src/test/java/io/oduck/api/e2e/auth/AuthControllerTest.java
Labels: Emergency, Test

#62 애니 isReleased 추가 #57
  src/docs/asciidoc/index.adoc
  src/main/java/io/oduck/api/domain/anime/dto/AnimeReq.java
  src/main/java/io/oduck/api/domain/anime/entity/Anime.java
  src/main/java/io/oduck/api/domain/anime/repository/AnimeRepository.java
  src/main/java/io/oduck/api/domain/anime/repository/AnimeRepositoryCustomImpl.java
  src/main/java/io/oduck/api/domain/anime/service/AnimeServiceImpl.java
  src/test/java/io/oduck/api/e2e/admin/AdminControllerTest.java
  src/test/java/io/oduck/api/global/utils/AnimeTestUtils.java
  src/test/java/io/oduck/api/unit/anime/repository/AnimeRepositoryTest.java
  src/test/java/io/oduck/api/unit/anime/service/AnimeServiceTest.java
Labels: Docs, Refactor, Test
